body {
  background: #F2EEDB!important;
  font-family: 'Arimo', Arial !important;
}

.content-box {
  padding: 20px;
  //border-radius: 7px;
  background: white;
  box-shadow: 0 0 20px #a0a0a0;
}

.content-box h1 {
  margin-top: 0;
}
