@import 'navbar';
@import 'buttons';
@import 'loading-bar';
@import 'layout';

$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '../../bower_components/font-awesome/fonts';

@import '../../bower_components/font-awesome/scss/font-awesome';

@import '../../bower_components/angular-loading-bar/build/loading-bar.css';

@import '../../bower_components/ngDialog/css/ngDialog.min.css';

@import '../../bower_components/ngDialog/css/ngDialog-theme-default.css';