<div >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Přihlášení</h3>
    </div>
    <div class="modal-body">
        <div data-ng-messages="loginForm.$error" role="alert" data-ng-cloak="">
            <div class="alert alert-danger" data-ng-message="correctCredentials">Nesprávné jméno nebo heslo</div>
        </div>

        <form ng-submit="login()" name="loginForm">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" class="form-control" ng-model="credentials.username" id="email" placeholder="Vložte e-mail">
            </div>
            <div class="form-group">
                <label for="password">Heslo:</label>
                <input type="password" class="form-control" ng-model="credentials.password" id="password" placeholder="Heslo">
            </div>
            <input type="submit" class="btn btn-success btn-block" value="Přihlásit se" />
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="loginController.openRegisterModal()" href="#">Zaregistrovat se</a>
    </div>
</div>
