<div class="clearfix">
    <h2 class="pull-left">Matematika</h2>

    <div class="btn-group pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
    </div>
</div>


<style>
    .progress-wrapper {
        position: relative;
    }

    .section {

        position: absolute;
        top: 5px;
        width: 100%;
        height: 100%;
    }

</style>

<div class="row" style="padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">1. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <i style="font-size: 40px" class="fa fa-globe"></i>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="background: #e0e0e0; padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">2. třída</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div style="z-index: 999; top: 17px; color: white;" class="section">
                    <i class="fa fa-globe fa-3x"></i>
                </div>
                <div class="section">
                    <img src="http://placehold.it/70x70/59A80F/ffffff?text=+" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="32" radius="40" stroke="5"></div>
            </div>

            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/70x70/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="65" radius="40" stroke="5"></div>
            </div>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/70x70/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="23" radius="40" stroke="5"></div>
            </div>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/70x70/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="50" radius="40" stroke="5"></div>
            </div>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff?text=" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="91" radius="35" stroke="5"></div>
            </div>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=více" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">3. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="background: #e0e0e0; padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">4. třída</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="32" radius="35" stroke="5"></div>
            </div>

            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="65" radius="35" stroke="5"></div>
            </div>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="23" radius="35" stroke="5"></div>
            </div>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="50" radius="35" stroke="5"></div>
            </div>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <div class="progress-wrapper">
                <div class="section">
                    <img src="http://placehold.it/60x60/107FC9/ffffff?text=" class="img-circle"/>
                </div>
                <div round-progress max="100" color="#FBB829" current="91" radius="35" stroke="5"></div>
            </div>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">5. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="background: #e0e0e0; padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">1. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">1. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style="background: #e0e0e0; padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">1. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7">
                Ahoj
            </div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>

<div class="row" style=" padding: 15px;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: 20px;">9. třída</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-md-2 text-center">
            <div round-progress max="100" current="37" radius="35" stroke="7"></div>
            <h4>Počítání do deseti</h4>
        </div>
        <div class="col-md-2 text-center">
            <div round-progress max="100" current="72" radius="35" stroke="7">42</div>
            <h4>Malá násobilka</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Slovní úlohy</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Faktoriály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/59A80F/ffffff" class="img-circle"/>
            <h4>Integrály</h4>
        </div>
        <div class="col-md-2 text-center">
            <img src="http://placehold.it/70x70/907848/ffffff?text=>" class="img-circle"/>
        </div>
    </div>
</div>