<div id="subjects">
    <h2>Výběr předmětu</h2>

    <div class="row main-subjects">

        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="inner" style="padding: 15px;">

                        <h3>Matematika</h3>
                    <span class="fa-stack fa-5x">
                        <i style="color: #F49AC2;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-superscript fa-stack-1x fa-inverse"></i>
                    </span>

                        <p>200 příkladů</p>
                        <i style="color: #F49AC2;" class="fa fa-arrow-circle-down fa-2x"></i>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner" style="padding: 15px;">
                        <h3>Český jazyk</h3>

                    <span class="fa-stack fa-5x">
                        <i style="color: #779ECB;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                    </span>

                        <p>2547 příkladů</p>

                        <i style="color: #779ECB;" class="fa fa-arrow-circle-down fa-2x"></i>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner" style="padding: 15px; background: #e0e0e0;">
                        <h3>Zeměpis</h3>

                    <span class="fa-stack fa-5x">
                        <i style="color: #03C03C;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>

                        <p>1397 příkladů</p>


                        <i style="color: #03C03C;" class="fa fa-arrow-circle-up fa-2x"></i>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner" style="padding: 15px;">
                        <h3>Fyzika</h3>

                    <span class="fa-stack fa-5x">
                        <i style="color: #CB99C9;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>

                        <p>1397 příkladů</p>

                        <i style="color: #CB99C9;" class="fa fa-arrow-circle-down fa-2x"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row text-center" style="border-top: 1px solid #a0a0a0; padding: 25px; margin-top: 20px;">
                <div class="col-md-2 col-md-offset-3">

                    <h4>Základní škola</h4>
                    <span class="fa-stack fa-3x">
                        <i style="color: #03C03C;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>

                    <p>278 příkladů</p>
                </div>

                <div class="col-md-2" style="background: #c0c0c0;">

                    <h4>Střední škola</h4>
                    <span class="fa-stack fa-3x">
                        <i style="color: #03C03C;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>

                    <p>235 příkladů</p>
                </div>

                <div class="col-md-2">

                    <h4>Vysoká škola</h4>
                    <span class="fa-stack fa-3x">
                        <i style="color: #03C03C;" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>

                    <p>257 příkladů</p>
                </div>
            </div>
        </div>
    </div>
</div>
