<div id="subjects">
    <h1>Výběr předmětu</h1>

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-2">
                        <i class="fa fa-4x fa-superscript"></i>
                        <h3>Matematika</h3>
                    </div>
                    <div class="col-md-2 ">
                        <i class="fa fa-4x fa-globe"></i>
                        <h3>Zeměpis</h3>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-4x fa-history"></i>
                        <h3>Dějepis</h3>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-4x fa-cog"></i>
                        <h3>Fyzika</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-2">
                        <i class="fa fa-3x fa-building"></i>
                        <h4>Základní škola</h4>
                    </div>
                    <div class="col-md-2 ">
                        <i class="fa fa-3x fa-building"></i>
                        <h4>Střední škola</h4>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-3x fa-building"></i>
                        <h4>Vysoká škola</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
